//variable selectors

$pale-color: #fed849;
$paleAmber-color: #f49f44;
$amberBrown-color: #d77f59;
$deepBrown-color: #5b342f;
$black-color: #31302c;
$background-color: #494842;
$attention-color: #ff8a28;

$mainFont: "Spartan", "sans-serif";

$font-weights: (
  "light": 300,
  "regular": 400,
  "bold": 700,
  "extraBold": 900
);
